<header id="content-header">
  <h1>Registrations for <%= link_to(@project.name, @project) %></h1>
</header>

<ol id="registrations">
 <% @registrations.each do |r| %>
  <li>
    <%= mail_to(r.email, r.name) %>
    (<%= r.project.name %>)
  </li>
 <% end %>
</ol>